.contact{
    display: flex;
    justify-content: center;
    background-color: #2879fe;
    color: white;
    padding: 10px;

    .wrapper {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input{
        border: none;
        padding: 10px;
        border-radius: 5px 0 0 5px;
    }

    button{
        border: none;
        padding: 10px;
        background-color: #333;
        color: white;
        border-radius: 0 5px 5px 0;
    }

    .icons{
        display: flex;
        gap: 10px;

    }
}